.title {
    margin: 8% 0;
    &__text-1 {
        font-family: OswaldBold;
        font-size: 1.9rem;
        opacity: 0;
        &--mod-1 {
            transition: opacity 1.8s;
            transition-delay: 1s;
            opacity: 1;
        }
        &--mod-2 {
            transition: opacity 1.8s;
            transition-delay: 1.02s;
            opacity: 1;
        }
        &--mod-3 {
            transition: opacity 1.8s;
            transition-delay: 1.04s;
            opacity: 1;
        }
    }
    &__text-2 {
        color: rgb(216, 216, 216);
        font-family: OswaldRegular;
        font-size: 1rem;
        opacity: 0;
        &--mod-4 {
            transition: opacity 1.5s;
            transition-delay: 2s;
            opacity: 1;
        }
    }
}
