
@font-face {
    font-family: OswaldMedium;
    src: url('../fonts/static/Oswald-Medium.ttf');
}

.logo {
    display: flex;
    justify-content: left;
    padding-left: 2%;
    padding-top: 1%;
    .logo__img {
        width: 30px;
        height: 40px;
    }
    .logo__text {
        margin-left: 10px;
        color: #ED322F;
        font-family: OswaldMedium;
        font-size: 1.6em;
    }

 }